{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="row center-align">
    <form method="post" action="" role="form"  class="col s12">
        {% csrf_token %}
      <h3>Login</h3>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn"><i class="material-icons left">send</i>Login</button>
      <button class="waves-effect waves-light btn"><i class="material-icons left">account_circle</i>Create an account</button>
    </form>
  </div>
        

{% endblock %}